@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

*{
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
}
::-webkit-scrollbar{
    display: none;
    
}


html{
    scroll-behavior: smooth;
}
/* for animations these lines are used */
 /* @keyframes appear{
    from{
        opacity: 0;
        scale: 0;
    } 
    to{
        opacity: 1;
        scale: 1;
    }
}
div{
    animation: appear 5s linear;
    animation-timeline: view();
    animation-range: entry 0 cover 10%;
}  */
/* @supports not (animation-timeline: view()) {
    .animate-on-scroll {
        opacity: 1;
        clip-path: inset(0 0 0 0);
    }
} */